COMPOSE_PROJECT_NAME=oc-new-api

NEWAPI_IMAGE=calciumion/new-api:latest
NEWAPI_PORT=3000
NEWAPI_NODE_NAME=new-api-prod-1
NEWAPI_STREAMING_TIMEOUT=600

NEWAPI_POSTGRES_USER=root
NEWAPI_POSTGRES_PASSWORD=CHANGE_ME_NEWAPI_POSTGRES_PASSWORD
NEWAPI_POSTGRES_DB=new-api

NEWAPI_REDIS_PASSWORD=CHANGE_ME_NEWAPI_REDIS_PASSWORD

TZ=Asia/Shanghai
